name: Trigger auto deployment for forbodrum-ca

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/forbodrum-ca-AutoDeployTrigger-97624fcc-a91e-44e8-a577-7125d71ca57e.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.FORBODRUMCA_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.FORBODRUMCA_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.FORBODRUMCA_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: kahramanlabs.azurecr.io
          registryUsername: ${{ secrets.FORBODRUMCA_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.FORBODRUMCA_REGISTRY_PASSWORD }}
          containerAppName: forbodrum-ca
          resourceGroup: AI-Projects-RG
          imageToBuild: kahramanlabs.azurecr.io/forbodrum-ca:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


